.row {
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.col {
  position: relative;
  box-sizing: border-box;
}

.col--full-height {
  align-self: stretch;
}

.col--flex {
  display: flex;
  flex-direction: column;
}

.box {
  position: relative;
  box-sizing: border-box;
}

.box--absolute {
  position: absolute;
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.top {
  align-items: flex-start;
}

.middle {
  align-items: center;
}

.baseline {
  align-items: baseline;
}

.bottom {
  align-items: flex-end;
}

.stretch {
  align-items: stretch;
}
